/* Здесь очень спорный момент касательно заголовка Куршская Коса*/
/* На разрешении 768px текст не переносится по словам, как вы помните я пытался сделать это через white-space */
/* Н поскольку это против правил, легальных способов сделать перенос не остается, я спрашивал в группе */
/* Все говорят что сдают прям так и не парятся, из этого у меня вопрос уже к вам) Я полагаю остался один костыльный вариант*/
/* Это ограничить максимальную ширину заголовку, но там есть еще один Озеро Байкал которое должно быть в одну строку */
/* Получается создать отдельный класс для конкретного заголовка и в нем уже порезать ширину? Или через псевдоэлемент, кстати */
/* Я уже не спал ровно ночь пытаясь допилить блок Сover xD, поэтому сочту что псевдоэлемент тоже кастыль, а вдруг контента станет больше?) */
/* Но ответственно заявляю, если прописать Куршской <br> Косе то страница соответствует макету */

.place__title {
  width: 100%;
  margin: 0 0 48px 0;
  padding: 0;
  line-height: 76px;
  font-size: 72px;
  font-weight: 900;
  grid-area: place__title;
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    margin: 0 16px 32px 16px;
    line-height: 35px;
    font-size: 32px;
  }
}
