.intro {
  margin: 0 auto;
  padding: 92px 0 0 0;
  max-width: 984px;
}

@media screen and (max-width: 1024px) {
  .intro {
    max-width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding-top: 88px;
    max-width: 94%;
    font-size: 32px;
    line-height: 35px;
  }
}

@media screen and (max-width: 550px) {
  .intro {
    padding-top: 64px;
  }
}
