.cover__title {
  margin: 0;
  max-width: 560px;
  line-height: 76px;
  font-size: 72px;
  font-weight: 900;
  text-align: center;
  justify-self: center;
  align-self: end;
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .cover__title {
    max-width: 80%;
    font-size: 32px;
    line-height: 35px;
  }
}